/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a {
    color: white;
    display: block;
    padding: 0px 7px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover {
    color: #000000;
    background-color: #ffffff;
}


/* Home Section  */
#home{
    height:309px;
    padding: 3px 33px;
}
#home::before{
    height:433px;
}

/* Services Section */
#services {
    margin: 34px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}


/* clients section */
#client {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
}


#client img {
    border-radius: 600px;
    height: 82px;
    display: flex;
    padding: 0%;
}
/* contact us section */
#contact-box form {
    width: 80%;
}
/* footer section */
/* Utility Classes */
.h-primary{
    font-size: 2.0rem;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}